<!DOCTYPE html>
<html>
  <link rel= "stylesheet" type= "text/css" href= "/static/styles/plate.css">
  <body onload()>
    <script src="static/styles/plate.js"></script>
    <h1>Plate recognize</h1>
    <div>
      <video width="700" controls>
        <source src="/static/test.mp4" type="video/mp4">
      </video>

    </div>

    <br>

    <div>
      <form action="/plate" method="get"">
        <button class="button">RUN</button>
      </form>
    </div>
    <br>
    <div>
      <img src="static/images/cropped_0.jpg" id="img" >
      <p id='plate_number'></p>
    </div>
  </body>
</html>
